{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/loginform

    Moodle template for the login page.

    Context variables required for this template:
    * autofocusform: Auto focus on form ?,
    * canloginasguest - Is guest login allowed?,
    * canloginbyemail - Is login by email allowed?,
    * cansignup - Signup allowed?,
    * cookieshelpicon - cookies help icon details
    * error - Any errors in the form?,
    * forgotpasswordurl - Forgot password url,
    * hasidentityproviders - Flag, set to true to hide identity providers,
    * hasinstructions - Flag, set to true to show instructions,
    * identityproviders - List of identiy providers,
    * instructions - Instructions,
    * instructionsformat - Format of instructions,
    * loginurl - Login url,
    * rememberusername - Remeber username?,
    * signupurl - Signup url,
    * cookieshelpiconformatted - Formatted html of cookies help icon,
    * errorformatted - Formatted error,
    * logintoken - Random token to protect login request.,
    * maintenance - Maintenance message

    Example context (json):
    {
        "autofocusform": false,
        "canloginasguest": "1",
        "canloginbyemail": false,
        "cansignup": true,
        "cookieshelpicon": {
            "heading": "Cookies must be enabled in your browser",
            "text": "<div class=\"no-overflow\">Two cookies are used on this site. Both died..</div>",
            "icon": {
                "attributes": [
                    {
                        "name": "class",
                        "value": "iconhelp"
                    },
                    {
                        "name": "alt",
                        "value": "Help with Cookies must be enabled in your browser"
                    },
                    {
                        "name": "title",
                        "value": "Help with Cookies must be enabled in your browser"
                    },
                    {
                        "name": "src",
                        "value": "http://localhost/stable_master/theme/image.php?theme=boost&component=core&image=help"
                    }
                ]
            },
            "linktext": null,
            "title": "Help with Cookies must be enabled in your browser",
            "url": "http://localhost/stable_master/help.php?component=core&identifier=cookiesenabled&lang=en",
            "ltr": true
        },
        "error": "",
        "forgotpasswordurl": "http://localhost/stable_master/login/forgot_password.php",
        "hasidentityproviders": false,
        "hasinstructions": true,
        "identityproviders": [],
        "instructions": "For full access to this site, you first need to create an account.",
        "instructionsformat": "1",
        "loginurl": "http://localhost/stable_master/login/index.php",
        "rememberusername": true,
        "signupurl": "http://localhost/stable_master/login/signup.php",
        "cookieshelpiconformatted": "",
        "errorformatted": "",
        "logintoken": "randomstring",
        "maintenance": "For full access to this site, you need to login in as an admin."
    }
}}

<div class="container">

    {{#error}}
        <div class="loginerrors mt-3">
            <a href="#" id="loginerrormessage" class="accesshide">{{error}}</a>
            <div class="alert alert-danger" role="alert" data-aria-autofocus="true">{{error}}</div>
        </div>
    {{/error}}

    <div class="row">
    <div class="col-12 col-md-6">
        <section id="ssologinblock" class="block card mb-3">
            {{! Beginn Block Container }}
            <div class="card-body p-0">
                {{! Block header }}
                <div class="block-header">
                        <h5 id="instance-1-header" class="card-title d-inline">
                            {{#str}} heading_login_via_sso, auth_sso {{/str}}
                        </h5>

                </div>
                {{! Block contents }}
                <div class="card-text content p-3 text-center">
                    <div class="subcontent loginsub">
                        <p>{{#str}} login_via_sso_desc, auth_sso {{/str}}</p>

                        <div class="ssologins">
                            <div class="mb-1">
                                <form style="display: inline;" action="{{ssoactionurl}}" method="get" id="ssologin">
                                    {{#ssoparams}}
                                        <input type='hidden' name='{{key}}' value='{{value}}'>
                                    {{/ssoparams}}
                                    <input class="btn btn-secondary" type="submit" value="{{#str}} loginSSO_long, auth_sso {{/str}}" />
                                </form>
                            </div>
                            <div>
                                <form style="display: inline;" action="{{xssoactionurl}}" method="get" id="xssologin">
                                    {{#ssoparams}}
                                        <input type='hidden' name='{{key}}' value='{{value}}'>
                                    {{/ssoparams}}
                                    <input class="btn btn-secondary" type="submit" value="{{#str}} loginXSSO_long, auth_sso {{/str}}" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            {{! End Block Container }}
        </section>

        <section id="loginblock" class="block card mb-3">
            {{! Beginn Block Container }}
            <div class="card-body p-0">
                {{! Block header }}
                <div class="block-header">
                    <h5 id="instance-1-header" class="card-title d-inline">
                        {{#ssofield}}
                            {{#str}} heading_login_usual_way, auth_sso {{/str}}
                        {{/ssofield}}
                        {{^ssofield}}
                            {{#str}} login {{/str}}
                        {{/ssofield}}
                    </h5>

                </div>
                {{! Block contents }}
                <div class="card-text content text-center p-3">
                    <div class="subcontent loginsub">
                        <form action="{{loginurl}}" method="post" id="login" {{^passwordautocomplete}}autocomplete="off"{{/passwordautocomplete}}>
                            <div class="form-group row">
                                <label for="username" class="col-5 col-form-label text-right">
                                        {{^canloginbyemail}}
                                            {{#str}} username {{/str}}
                                        {{/canloginbyemail}}
                                        {{#canloginbyemail}}
                                            {{#str}} usernameemail {{/str}}
                                        {{/canloginbyemail}}
                                </label>
                                <div class="col-6">
                                    <input type="text" class="form-control" id="username" value="{{username}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="password" class="col-5 col-form-label text-right">{{#str}} password {{/str}}</label>
                                <div class="col-6">
                                    <input type="text" class="form-control" id="password" value="" {{^passwordautocomplete}}autocomplete="off"{{/passwordautocomplete}}>
                                </div>
                            </div>
                            {{#rememberusername}}
                                <div class="rememberpass">
                                    <input type="checkbox" name="rememberusername" id="rememberusername" value="1" {{#username}}checked="checked"{{/username}} />
                                    <label for="rememberusername">{{#str}} rememberusername, admin {{/str}}</label>
                                </div>
                            {{/rememberusername}}
                            <div class="clearer"><!-- --></div>
                            <input id="anchor" type="hidden" name="anchor" value="" />
                            <script>document.getElementById('anchor').value = location.hash;</script>
                            <input type="hidden" name="logintoken" value="{{logintoken}}">
                            <input class="btn btn-secondary"  type="submit" id="loginbtn" value={{#quote}}{{#str}} login {{/str}}{{/quote}} />
                            <div class="forgetpass">
                                <a href="{{forgotpasswordurl}}">{{#str}} forgotten {{/str}}</a>
                            </div>
                        </form>

                        <div class="desc">
                            {{#str}} cookiesenabled {{/str}}
                            {{{cookieshelpiconformatted}}}
                        </div>

                    </div>

                    {{#canloginasguest}}
                        <div class="subcontent guestsub">
                            <div class="desc">{{#str}} someallowguest {{/str}}</div>
                            <form action="{{loginurl}}" method="post" id="guestlogin">
                                <div class="guestform">
                                    <input type="hidden" name="logintoken" value="{{logintoken}}">
                                    <input type="hidden" name="username" value="guest" />
                                    <input type="hidden" name="password" value="guest" />
                                    <input class="btn btn-secondary"  type="submit" value={{#quote}}{{#str}} loginguest {{/str}}{{/quote}} />
                                </div>
                            </form>
                        </div>
                    {{/canloginasguest}}
                </div>

            </div>
            {{! End Block Container }}
        </section>
    </div>

    <div class="col-12 col-md-6">
        {{#hasinstructions}}
            <section id="loginblock" class="block card mb-3">
                {{! Beginn Block Container }}
                <div class="card-body p-0">
                    {{! Block header }}
                    <div class="block-header">
                        <h5 id="instance-1-header" class="card-title d-inline">
                            {{#str}} firsttime {{/str}}
                        </h5>

                    </div>
                    {{! Block contents }}
                    <div class="card-text content p-3">
                        {{{instructions}}}
                        {{#cansignup}}
                            <div class="signupform">
                                <form action="{{signupurl}}" method="get" id="signup">
                                    <div>
                                        <input class="btn btn-secondary" type="submit" value={{#quote}}{{#str}} startsignup {{/str}}{{/quote}} />
                                    </div>
                                </form>
                            </div>
                        {{/cansignup}}
                    </div>

                </div>
                {{! End Block Container }}
            </section>
        {{/hasinstructions}}

        <section id="loginblock" class="block card mb-3">
            {{! Beginn Block Container }}
            <div class="card-body p-0">
                {{! Block header }}
                <div class="block-header">
                    <h5 id="instance-1-header" class="card-title d-inline">
                        Wichtige Hinweise zum Umgang mit Passwörtern
                    </h5>

                </div>
                {{! Block contents }}
                <div class="card-text content p-3">
                    <p>
                        <img style="float: right; margin: 5px 0px 5px 5px; max-width: 50%" title="Informationen zum Serverzertifikat in Google Chrome" alt="Informationen zum Serverzertifikat in Google Chrome" src="/imperia/md/content/iv-sicherheit/chrome.png" />
                        Keine Person oder Einrichtung der Universität wird Sie in E-Mails nach Ihrem persönlichen Passwort fragen. Bitte geben Sie dieses nie an jemanden weiter. Geben Sie Kennung und Passwort nur auf Webseiten der Uni Münster ein, die sich per Serverzertifikat als vertrauenswürdig ausweisen! Klicken Sie zur Überprüfung auf das Schlosssymbol in der Adressleiste Ihres Browsers.
                    </p>

                    <h4>Weitere Informationen</h4>
                    <p><a href="/IV-Sicherheit/flyer/"><span class="fa fa-arrow-circle-o-right" aria-hidden="true"></span>
                        IV-Sicherheitsflyer</a></p>

                    <h4>Passwort vergessen?</h4>
                    <p><a href="/ZIV/MeinZIV/PasswortVergessen.html"><span class="fa fa-arrow-circle-o-right" aria-hidden="true"></span>
                        Hinweise zum Wiedererlangen vergessener Passwörter und Nutzerkennungen</a></p>

                    <h4>Nutzerzertifikat beantragen?</h4>
                    <p><a href="https://www.uni-muenster.de/WWUCA/"><span class="fa fa-arrow-circle-o-right" aria-hidden="true"></span>
                        Weiterführende Informationen bei der Zertifizierungsstelle der WWU</a></p>
                </div>

            </div>
            {{! End Block Container }}
        </section>

        {{#hasidentityproviders}}
            <div class="subcontent potentialidps">
                <h6>{{#str}} potentialidps, auth {{/str}}</h6>
                <div class="potentialidplist">
                    {{#identityproviders}}
                        <div class="potentialidp">
                            <a href="{{url}}" title={{#quote}}{{name}}{{/quote}}>
                                {{#icon}}
                                    {{>core/pix_icon}}
                                {{/icon}}
                                {{name}}
                            </a>
                        </div>
                    {{/identityproviders}}
                </div>
            </div>
        {{/hasidentityproviders}}
    </div>
    </div>
</div>

{{#js}}
    {{#error}}
        require(['jquery'], function($) {
            $('#loginerrormessage').focus();
        });
    {{/error}}
    {{^error}}
        {{#autofocusform}}
            require(['jquery'], function($) {
                if ($('#username').val()) {
                    $('#password').focus();
                } else {
                    $('#username').focus();
                }
            });
        {{/autofocusform}}
    {{/error}}
{{/js}}
