{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_wwu2019/menu-recursion

    Recursively displays sub-sub-(...)-menus.

    Example context (json):
    {
    }
}}

<ul class="sub-sub-menu">
    {{# menu }}
    <li class="sub-sub-menu-item">
        <a role="menuitem" {{# href }} href="{{ href }}"{{/href}}>
            {{# icon }} {{# pix }} {{ icon.key }}, {{ icon.component }}, {{ icon.title }} {{/ pix }} {{/ icon }}
            <span class="underline">{{# dontescape }}{{{name}}}{{/dontescape}}{{^ dontescape }}{{name}}{{/dontescape}}</span>
            {{# hasmenu }}
                <div class="arrow"></div>
            {{/ hasmenu }}
        </a>
        {{# hasmenu }}
            {{> theme_wwu2019/menu-recursion }}
        {{/hasmenu}}
    </li>
    {{/ menu }}
</ul>