{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_wwu2019/menu

    Displays logo of WWU and Learnweb

    Example context (json):
    {
        "wwwroot": "https://www.example-moodle.de/",
        "logo": "https://www.example-moodle.de/theme/wwu2019/pix/logo.svg"
    }
}}
<div id="main-menu-placeholder">
    <nav id="main-menu">
        <div id="main-menu-border">
            <ul role="menubar" class="d-flex">
                {{# mainmenu }}
                    <li role="none" class="main-menu-item">
                        <a role="menuitem" tabindex="0" {{# hasmenu }} aria-haspopup="true" aria-expanded="false" {{/ hasmenu }}>
                            <span class="fa fa-{{icon}}"></span>
                            <span class="underline">{{name}}</span>
                        </a>
                        {{# hasmenu }}
                            <div class="sub-menu-wrapper">
                                <ul role="menu" class="sub-menu">
                                    {{# menu }}
                                        <li role="none" class="sub-menu-item">
                                            <a role="menuitem">
                                                <span class="fa fa-{{icon}}"></span>
                                                <span>{{ name }}</span>
                                                {{# hasmenu }}
                                                    <div class="arrow"></div>
                                                {{/ hasmenu }}
                                            </a>
                                        </li>
                                        {{# breaker }}
                                            <div class="breaker {{ . }}"></div>
                                            <div></div>
                                        {{/ breaker }}
                                    {{/ menu }}
                                </ul>
                            </div>
                        {{/hasmenu}}
                    </li>
                {{/ mainmenu }}
            </ul>
        </div>
    </nav>
</div>