{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_wwu2019/menu

    Displays main menu.

    Example context (json):
    {
    }
}}
<img src="{{wwwroot}}/theme/wwu2019/pix/arrow_up.svg" alt="" hidden>
<img src="{{wwwroot}}/theme/wwu2019/pix/arrow_down.svg" alt="" hidden>
<nav id="main-menu">
    <div id="main-menu-border">
        <div id="main-menu-hamburger">
            <a id="hamburger-toggle">
                {{#pix }} i/hamburger {{/pix}}
            </a>
            <ul role="menubar" id="main-menu-left">
                {{# left-menu }}
                    <li role="none" class="main-menu-item {{# class }}{{class}}{{/class}}"
                        {{# hasmenu }} aria-haspopup="true" aria-expanded="false" {{/hasmenu}}{{^ hasmenu }} aria-haspopup="false" {{/hasmenu}}>
                        <a role="menuitem" tabindex="0" {{# href }} href="{{ href }}"{{/href}}>
                            {{# icon }} {{# pix }} {{ icon.key }}, {{ icon.component }}, {{ icon.title }} {{/ pix }} {{/ icon }}
                            <span class="underline">{{# dontescape }}{{{name}}}{{/dontescape}}{{^ dontescape }}{{name}}{{/dontescape}}</span>
                            {{# hasmenu }}
                                <div class="arrow"></div>
                            {{/ hasmenu }}
                        </a>
                        {{# hasmenu }}
                            <div class="sub-menu-scroll-wrapper">
                                <div class="sub-menu-scroll-container">
                                    <div class="sub-menu-wrapper">
                                        <ul role="menu" class="sub-menu">
                                            {{# menu }}
                                                <li role="none" class="sub-menu-item {{# class }}{{class}}{{/class}}"
                                                    {{# hasmenu }} aria-haspopup="true" aria-expanded="false" {{/hasmenu}}{{^ hasmenu }} aria-haspopup="false" {{/hasmenu}}>
                                                    <a role="menuitem" {{# href }} href="{{ href }}"{{/href}}>
                                                        {{# icon }} {{# pix }} {{ icon.key }}, {{ icon.component }}, {{ icon.title }} {{/ pix }} {{/ icon }}
                                                        <span class="underline">{{# dontescape }}{{{name}}}{{/dontescape}}{{^ dontescape }}{{name}}{{/dontescape}}</span>
                                                        {{# hasmenu }}
                                                            <div class="arrow"></div>
                                                        {{/ hasmenu }}
                                                    </a>
                                                    {{# hasmenu }}
                                                        {{> theme_wwu2019/menu-recursion }}
                                                    {{/hasmenu}}
                                                </li>
                                                {{# breaker }}
                                                    <div class="breaker {{ . }}"></div>
                                                    {{! Needed for ensuring last breaker also breaks there is no item follow the breaker (Occurs when menu has one or two items). }}
                                                    <div></div>
                                                {{/ breaker }}
                                            {{/ menu }}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {{/hasmenu}}
                    </li>
                {{/ left-menu }}
            </ul>
        </div>
        <ul role="menubar" id="main-menu-right">
            <li class="main-menu-additions-item">{{{navbaradditions}}}</li>
            {{# right-menu-icons }}
            <li role="none" class="main-menu-icon-item">
                <a role="menuitem" tabindex="0" {{# href }} href="{{ href }}"{{/href}}>
                    {{# icon }} {{# pix }} {{ icon.key }}, {{ icon.component }}, {{ icon.title }} {{/ pix }} {{/ icon }}
                </a>
            </li>
            {{/ right-menu-icons }}
            {{# login }}
                <li role="none" class="main-menu-icon-item">
                    <a role="menuitem" href="{{{url}}}"><span class="underline">
                        {{#str}}login{{/str}}
                    </span></a>
                </li>
                <li role="none" class="main-menu-icon-item">
                    <a role="menuitem" href="{{{ssourl}}}"><span class="underline">
                        {{#str}}loginSSO_link, auth_sso{{/str}}
                    </span></a>
                </li>
            {{/login}}
            {{# user-menu }}
                <li role="none" id="user-menu" aria-haspopup="true" aria-expanded="false">
                    <a role="menuitem" tabindex="0" {{# href }} href="{{ href }}"{{/href}}>
                        <img class="user-icon" src="{{pic}}" alt="PICTURE OF {{name}}" />
                        <span class="underline">{{name}}</span>
                    </a>
                    <div class="sub-menu-scroll-wrapper">
                        <div class="sub-menu-scroll-container">
                            <div class="sub-menu-wrapper">
                                <ul role="menu" class="sub-menu">
                                    {{# menu }}
                                        <li role="none" class="sub-menu-item {{# class }}{{class}}{{/class}}"
                                            {{# hasmenu }} aria-haspopup="true" aria-expanded="false" {{/hasmenu}}{{^ hasmenu }} aria-haspopup="false" {{/hasmenu}}>
                                            <a role="menuitem" {{# href }} href="{{ href }}"{{/href}}>
                                                {{# icon }} {{# pix }} {{ icon.key }}, {{ icon.component }}, {{ icon.title }} {{/ pix }} {{/ icon }}
                                                <span class="underline">{{ name }}</span>
                                                {{# hasmenu }}
                                                    <div class="arrow"></div>
                                                {{/ hasmenu }}
                                            </a>
                                            {{# hasmenu }}
                                                {{> theme_wwu2019/menu-recursion }}
                                            {{/hasmenu}}
                                        </li>
                                    {{/ menu }}
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            {{/ user-menu }}
        </ul>
        <div id="main-menu-sticky-floater"></div>
        <div id="main-menu-fixed-placeholder" class="navbar"></div>
    </div>
</nav>
<div id="menu-bottom" class="pt-2 pb-3">
    <div>
        {{# isadmin }}
            <form action="{{wwwroot}}/admin/search.php" method="get" class="form-inline search" id="admin-search">
                <input class="form-control form-control-sm search-field hide-600" type="text" name="query" value="" size="12"
                        placeholder="{{#str}}searchadmin, theme_wwu2019{{/str}}"/>
                <button type="submit" class="icon-button">
                    {{# pix }} i/search, core, {{#str}} search {{/str}} {{/pix}}
                    <i class="icon-user icon-dark"></i>
                </button>
            </form>
        {{/isadmin}}
    </div>
    <div class="d-inline-flex">
            <form id="global-search" action="{{wwwroot}}/search/index.php" method="get" class="form-inline search">
                <input class="form-control form-control-sm search-field hide-600" type="text" name="q" value="" size="12"
                        placeholder="{{#str}}search{{/str}}"/>
                <button type="submit" class="icon-button">
                    {{# pix }} i/search, core, {{#str}} search {{/str}} {{/pix}}
                    <i class="icon-user icon-dark"></i>
                </button>
            </form>
        <div id="lang-menu">
            {{# langs }}
                <a title="{{full}}" href="{{href}}"><span class="underline">{{short}}</span></a>
            {{/langs}}
        </div>
    </div>
</div>